@{
    Layout = "_Layout";
    ViewData["Title"] = "Students";
}
<h1>@ViewData["Title"]</h1>

@if (@Model.Count == 0)
{
  <h3>No students have been added yet!</h3>
}

@foreach (var student in Model)
{
  <h3><a href="/students/@student.GetStudentId()">@student._studentName</a>
  <small>| @student._studentNumber | </small>
  <small>@student.GetStudentId()</small>
  </h3>
}



<p><a href='/'>Back home</a></p>
<p><a href='/students/new'>Add a new student</a></p>
